<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} %-5p %c{2} [%F:%L %M] %m%n" />
		</layout>
	</appender>

	<appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="1000MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="file" value="logs.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{MM-dd HH:mm:ss} %-5p %c{2} [%F:%L %M] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO"/>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="RollingFile" />
	</root>

</log4j:configuration>
