<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="person" class="com.jayden.Person" init-method="initMethod">
        <property name="name" value="setter---name"/>
        <property name="desc" value="setter---desc"/>
    </bean>
    <bean id="dog" class="com.jayden.Dog"/>

    <bean class="com.jayden.TestBeanPost"/>
    <bean class="com.jayden.TestBeanPost2"/>

    <bean class="com.jayden.TestBeanFactoryPost" />
    <bean class="com.jayden.TestBeanFactoryPost2"/>

    <bean class="com.jayden.TestApplicationListener"/>
    <bean class="com.jayden.TestApplicationListener2"/>
</beans>